<a href="https://colab.research.google.com/github/MartinaTrigilia/python-exercises/blob/main/Variabili.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esercizi con le Variabili

## 1. Operazioni Aritmetiche [[Esercizio su HackerRank](https://www.hackerrank.com/challenges/python-arithmetic-operators/problem)]

1 Inserisci due interi come input e stampa:

1. La somma dei due numeri.
2. La differenza tra i due numeri (primo - secondo).
3. Il prodotto tra i due numeri.

In [ ]:
a = int(input("Inserisci un numero "))
b = int(input("Inserisci un altro numero "))

print(a+b)
print(a-b)
print(a*b)

Inserisci un numero 3
Inserisci un altro numero 4
7
-1
12

## 2. Divisioni [[Esercizio su HackerRank](https://www.hackerrank.com/challenges/python-division/problem)]
Leggi due interi come input e stampa:
1. il risultato della divisione tra a e b come un numero intero
2. il risultato della divisione tra a e b come un numero con la virgola

In [ ]:
a = int(input("Inserisci un numero "))
b = int(input("Inserisci un altro numero "))

print("Stampa come intero ",a//b)
print("Stampa con virgola " ,a/b)

Inserisci un numero 13
Inserisci un altro numero 2
Stampa come intero  6
Stampa con virgola  6.5

## 3. Potenze e Modulo

Leggi un float e un intero come input e stampa:
1. Il primo numero elevato al secondo.
2. Il modulo del primo numero per il secondo.

All'interno del print inserisci anche l'operazione che stai eseguendo
<br><br>
*esempio di output*<br>
3**2=9<br>
3%1=1<br>

In [ ]:
a = int(input("Inserisci un numero interno "))
b = float(input("Inserisci un numero decimale "))

print(f"{a}**{b}={a**b}")
print(f"{a}%{b}={a%b}")

Inserisci un numero interno 3
Inserisci un numero decimale 2.1
3**2.1=10.04510856630514
3%2.1=0.8999999999999999

## 4. Swapping
Lo swapping consiste nell'invertire il valore di due variabili.
1. Prendi in input due valori e assegnali a due variabili A e B.
2. Stampa le variabili su schermo.
3. Assegna il valore di A a B e il valore di B ad A.
4. Stampa le variabili su schermo.

In [ ]:
a = input("Inserisci della stringa A ")
b = input("Inserisci un altra stringa B ")
print(f"Il valore di a è {a}")
print(f"Il valore di b è {b}")

c = b
b = a
a = c

print(f"Il valore di A dopo lo scambio è {a}")
print(f"Il valore di B dopo lo scambio è {b}")

Inserisci della stringa A gatto
Inserisci un altra stringa B cane
Il valore di a è gatto
Il valore di b è cane
Il valore di A dopo lo scambio è cane
Il valore di B dopo lo scambio è gatto

### BONUS
In python possiamo eseguire lo swapping senza aver bisogno di una terza variabile temporanea.

In [ ]:
a = int(input())
b = int(input())

a, b = b, a

print(f"A={a}, B={b}")

5
2
A=2, B=5

## 5. Casting e Formattazione
Scriviamo un programma che richieda i tuoi dati e li stampi su schermo, i dati che il programma deve richiedere sono:
1. Nome e Cognome
2. Anno di nascita
3. Luogo di Nascita
4. Altezza (in metri)
5. Peso (in kilogrammi)

Infine il programma dovrà stampare tutte queste informazione, con altezza e peso arrotondate a 2 cifre dopo la virgola, insieme all'età della persona.
<br><br>
**ESEMPIO DI INPUT**<br>
- Nome: Martina Trigilia<br>
- Anno di nascita: 1996<br>
- Luogi di nascita: Ragusa<br>
- Altezza (m): 1.63<br>
- Peso (kg): 55.5<br>


**ESEMPIO DI OUTPUT**<br>
"Martina Trigilia, 29 anni, nato a Ragusa nel 1996, altezza: 1.63 m, peso: 55.5 kg"  
<br>
**SUGGERIMENTI**
1. La funzione input ritorna sempre una stringa, quindi se vogliamo dei numeri dobbiamo eseguire il casting.
2. Possiamo arrotondare una cifra usando l'operatore di formattazione %.Nf, dove al posto di N dobbiamo inserire il numero di cifre dopo la virgola.
3. Se invece utilizzi il metodo *format*, puoi arrotondare una cifra usando come placeholder {my_var:.{digits}f} dove my_var è il placeholder della tua variabile e digits è il placeholder per il numero di cifre dopo la virgola.

In [ ]:
my_name = input("Inserisci il tuo Nome e Cognome ")
my_birth = int(input("Inserisci il tuo Anno di nascita "))
my_birth_place = input("Inserisci il tuo Luogo di nascita ")
my_height = float(input("Inserisci la tua Altezza (in metri) "))
my_weight = float(input("Inserisci il tuo Peso (kg) "))

sysdate_year = 2026

my_age = sysdate_year - my_birth

print (f"{my_name}, {my_age}, nata a {my_birth_place} nel {my_birth}, altezza {my_height:.2f} m, peso {my_weight:.1f} kg")

Inserisci il tuo Nome e Cognome Martina Trigilia
Inserisci il tuo Anno di nascita 1996
Inserisci il tuo Luogo di nascita Ragusa
Inserisci la tua Altezza (in metri) 1.63
Inserisci il tuo Peso (kg) 55.5
Martina Trigilia, 30, nata a Ragusa nel 1996, altezza 1.63 m, peso 55.5 kg